<h3 class="">Danh sách sản phẩm</h3>
<button class="btn btn-primary" routerLink="/admin/products/add">
  Thêm sản phẩm
</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Giá</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Danh mục</th>
    </tr>
  </thead>
  <tbody
    *ngFor="
      let item of data | paginate : { itemsPerPage: 6, currentPage: p };
      index as idx
    "
  >
    <tr>
      <th scope="row">{{ idx + 1 }}</th>
      <td style="width: 20%">{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td style="width: 20%">
        <img
          src="{{ item.image }}"
          alt=""
          style="width: 100px; height: 100px"
        />
      </td>
      <td>{{ item.cateId }}</td>
      <td>
        <button class="btn btn-warning mx-2" (click)="removeProduct(item.id)">
          Xóa
        </button>
        <button
          class="btn btn-danger"
          routerLink="/admin/products/update/{{ item.id }}"
        >
          Sửa
        </button>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" class="d-flex justify-content-end"></pagination-controls>
