<h3>Thêm danh mục</h3>
<form #myForm="ngForm" [formGroup]="nameCate">
  <div class="form-group">
    <label for="exampleInputEmail1">Tên danh mục</label>
    <input
      type="text"
      class="form-control"
      name="name"
      placeholder="..."
      ngModel
      formControlName="name"
    />
    <div *ngIf="(funcControl['name'].touched || funcControl['name'].dirty) && funcControl['name'].invalid">
      <div *ngIf="funcControl['name'].errors && funcControl['name'].errors['required']">
        <span class="validate">Tên danh mục không để trống</span>
      </div>
      <div *ngIf="funcControl['name'].errors && funcControl['name'].errors['minlength']">
        <span class="validate">Tên danh mục ít nhất 8 ký tự</span>
      </div>
    </div>
  </div>
  <!-- nếu không qua validate thì không hiển thị button -->
  <div *ngIf="nameCate.valid">
    <button
      type="submit"
      class="btn btn-primary mt-3"
      (click)="addCategory(myForm.value)"
    >
      Thêm
    </button>
  </div>
  <!-- <button
  type="submit"
  class="btn btn-primary mt-3"
  (click)="addCategory(myForm.value)"
  [disabled]="!nameCate.valid"
>
  Thêm
</button> -->
</form>
