<section style="margin-top:40px" *ngIf="cartItems.length">
  <div class="container min-h-100">
    <div class="row d-flex justify-content-center align-items-center min-h-100">
      <div class="col">
        <p>
          <span class="h2">Giỏ hàng</span
          ><span class="h4">({{cartItems.length}} sản phẩm)</span>
        </p>


        <div class="card mb-4 ">
          <div class="col-md-2 d-flex justify-content-center" style="margin-left: 20px;">
            <div>
              <input type="checkbox" name="" id="" (change)="checkAll($event)"> All
            </div>
          </div>
          <div
            class="card-body p-4"
            *ngFor="let item of cartItems; index as idx"
          >
            <div class="row align-items-center">
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <input type="checkbox" name="" [value]="item.id" [checked]="item.check" (change)="checkItem($event)">
                </div>
              </div>
              <div class="col-md-2">
                <img
                  src="{{ item.image }}"
                  class="img-fluid"
                  alt="Generic placeholder image"
                  style="width: 200px; height:135px"
                />
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{ item.name }}</p>
                </div>
              </div>

              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  <!-- <p class="lead fw-normal mb-0">1</p> -->
                  <input
                    type="number"
                    min="1"
                    value="{{ item.quantity }}"
                    style="outline: none; width: 50px"
                    (change)="onChangeQuantity(idx, item, $event)"
                  />
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">
                    {{ item.price | currency : "VND" | lowercase }}
                  </p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">
                    {{
                      item.price * item.quantity | currency : "VND" | lowercase
                    }}
                  </p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2"></p>
                  <button class="btn btn-danger" (click)="removeItem(idx)">Xóa</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="card-body p-4">
            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span>
                <span class="lead fw-normal">{{total | currency : "VND" | lowercase}}</span>
              </p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light btn-lg me-2">
            Continue shopping
          </button>
          <button type="button" class="btn btn-primary btn-lg">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="alert alert-danger" style="width: 80%; margin: 100px auto;" *ngIf="cartItems.length == 0">
  <strong>Không có sản phẩm nào! </strong> <span style="color:blue; cursor: pointer;" routerLink="/products">Click vào đây</span> để thêm sản phẩm vào giỏ hàng .
</div>
